$namespace: '.movie-image';

#{$namespace} {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-size: cover;
  margin-right: 10px;
  margin-top: 10px;

  &.-processing {
    opacity: 0.5;
  }
}
